/**
 *
 * Timeline Style
 *
**/

@import "~style/_variables.scss";

.container {
  background-image: url('assets/textures/overhead.png');
  padding-bottom: 24vw;
}

.title {
  position: relative;
  top: -0.375em;
  font-size: $hs-mobile;
  color: $gold;
  text-transform: uppercase;
  padding-bottom: .75em;
  text-align: center;
}

.graphic {
  padding: 0px 4vw;
}

.phase-title-area {
  color: $gold;
  text-transform: uppercase;
}

.phase-title-box {
  display: inline-block;
  position: relative;
}

.phase-title-box::before,
.phase-title-box::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $gold;
}

.phase-title-box::after {
  left: 0;
  bottom: 0;
}

.phase-title {
  display: inline-block;
  padding: .1em 0px;
}

.line-container {
  line-height: 0px;
  padding-left: 3vw;
  padding-top: 4px;
  padding-bottom: 4px;
}

.line {
  display: inline-block;
  height: 56px;
  border-left: 4px dotted $gold;
}

.milestone {
  position: relative;
}

.milestone-marker {
  height: 6vw;
  width: 6vw;
  margin-left: 2px;
  border: 2px solid $gold;
  border-radius: 8vw;
  display: flex;
  padding: 1vw;
}

.milestone-complete {
  width: 100%;
  height: 100%;
  background-color: gold;
  border-radius: 100%;
}

.milestone-title {
  display: inline-block;
  position: absolute;
  font-size: $h6-mobile;
  color: $gold;
  top: 0;
  left: 8vw;
  margin-left: 2px;
}

.milestone-date {
  position: absolute;
  padding: .5em .7em .49em;
  border-radius: 3em;
  border: 2px solid $gold;
  color: $gold;
  font-weight: bold;
  left: 8vw;
  margin-left: 6px;
  margin-top: 8px;
  line-height: 1em;
}

.date-connection {
  display: none;
}

@media screen and
(min-width: $bp-mobile) {
  $marker-radius: 20px;

  .title {
    padding-bottom: .3em;
  }

  .graphic {
    padding-right: 0px;
  }

  .line-container {
    padding-left: $marker-radius / 2;
  }

  .line {
    height: 64px;
  }

  .milestone-marker {
    width: $marker-radius;
    height: $marker-radius;
    padding: 4px;
  }

  .milestone-title {
    font-size: $h5;
    top: -0.2em;
    left: 40px;
  }

  .milestone-date {
    left: 40px;
    font-size: 14px;
    margin-top: 12px;
  }

  .container {
    padding-bottom: 160px;
  }
}

@media screen and
(min-width: $bp-mobile-large) {

  .graphic {
    padding-left: 0px;
  }

  .phase-title-area {
    padding-left: 20%;
  }

  .line-container {
    padding-left: 54px;
    margin-left: 20%;
  }

  .milestone-marker {
    margin-left: 20%;
    position: relative;
    left: 46px;
  }

  .milestone-title {
    left: 20%;
    margin-left: 86px;
  }

  .milestone-date {
    position: relative;
    display: inline-block;
    margin-top: 0px;
    left: auto;
    margin-left: 0;
  }

  .date-connection {
    font-size: $p;
    display: inline-block;
    position: absolute;
    border-bottom: 2px solid $gold;
    width: 28px;
    right: -26px;
    top: .8em;
  }

  .date-container {
    font-size: $p;
    width: 20%;
    margin-left: 26px;
    position: absolute;
    top: -0.3em;
    text-align: right;
  }
}

@media screen and
(min-width: $bp-tablet-small) {
  .title {
    font-size: $hs;
  }

}

@media screen and
(min-width: $bp-tablet) {
  .graphic {
    text-align: center;
    margin-right: 9%;
  }

  .phase-title-area {
    padding-left: 0px;
  }

  .line-container {
    margin-left: 0px;
    padding-left: 0px;
  }

  .milestone-marker {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: auto;
  }

  .milestone-title {
    left: 50%;
    margin-left: 40px;
  }

  .date-container {
    right: 50%;
  }

  .milestone-date {
    margin-right: 40px;
  }

  .date-connection {
    width: 40px;
    right: 0;
  }
}

@media screen and
(min-width: natural-bp($hs, $hs-max)) {
  .title {
    font-size: $hs-max;
  }
}
