/**
 *
 * Menu Border style
 *
**/

@import '~style/_variables.scss';
@import '../../_variables.scss';

.container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 1;
}
