/**
 *
 * Claim Tokens Purchase Form
 *
**/

@import "~style/_variables.scss";
@import "../../../../style/_variables.scss";


.form {
  margin-top: 2vw;
  font-size: 4vw;
  color: $dusk-purple;
  line-height: 1.4em;
}

.row {
  font-size: $h6-mobile;
}

.form input[type=text],
.form input[type=email] {
  width: 100%;
  color: $silver-shade;
  border-bottom-color: $silver-shade;
  transition: border-bottom .3s,
              color         .3s;
}

.form input[type=text].filled,
.form input[type=email].filled {
  width: 100%;
  color: $dusk-purple;
  border-bottom-color: $dusk-purple;
}

.form input[type=text]::placeholder,
.form input[type=email]::placeholder {
  color: $silver;
}

.form input,
.form .row {
  margin-top: .4em;
}

.form input:first-child,
.form .row:first-child {
  margin-top: 0px;
}

.form .row input {
  margin-top: 0px;
}

.company-section,
.checkout-section {
  margin-top: 2em;
}

.form a {
  text-decoration: underline;
}

label {
  font-weight: bold;
  display: inline-flex;
}

.checkbox {
  margin-right: .4em;
  margin-top: .05em;
  vertical-align: middle;
}

.submit-display {
  margin-top: 1.4em;
}

@media screen and
(min-width: $bp-mobile) {
  .row {
    font-size: $h6;
  }

  .form {
    font-size: 21px;
  }

  .submit-display {

  }
}

@media screen and
(min-width: $bp-tablet) {
  .row {
    display: flex;
    justify-content: space-between;
  }

  .row input + input {
    margin-left: 16px;
  }
}
