/*
 *  INDEX
 *
 *  Import all global variables, helpers, core styles and components
 *
 */

@charset "utf-8/index";

/*
 * VARIABLES
 *
 * Global sizes and colors that can be used in every component
 *
 */

 $myriad: myriad, "myriad pro", arial, sans-serif;

/* ============================================================ *\
|* Colors
\* ============================================================ */

$white:             #FFF;
$white-shade:       #F4F4F4;
$light-gray:        #CCC;
$gray:              #A1A1A1;
$dark-gray:         #767676;
$black-tint:        #4A4A4A;
$black:             #343434;

// Transparency
$shadow:            rgba(0,0,0,.65);

// Insert brand color values
$orange:           #f76114;
$orange-shade:     #e0550B;
$orange-tint:      #FF8131;
$blue:             #335288;
$blue-tint:        #4362C7;

/* ============================================================ *\
|* Breakpoints
\* ============================================================ */

$bp-mobile:            450px;
$bp-mobile-large:      640px;
$bp-tablet-small:      722px;
$bp-tablet:            1000px;
$bp-monitor-small:     1200px;
$bp-monitor-medium:    1400px;

/* ============================================================ *\
 * Lengths
\* ============================================================ */

// Insert App-wide coordinated length values
$content-width:       722px;



$h1-mobile:           42vw;
$h2-mobile:           12.4vw;
$h3-mobile:           8.1vw;
$h4-mobile:           7vw;
$h5-mobile:           6vw;
$h6-mobile:           5vw;
$p-mobile:            4.8vw;

$h1:                  60px;
$h2:                  42px;
$h3:                  34px;
$h4:                  30px;
$h5:                  25px;
$h6:                  21px;
$p:                   18px;
