/**
 *
 * Footer Style
 *
**/

@import '~style/_variables.scss';

.container {
  background-color: $white;
  font-size: 10px;
  margin-top: 1.45em;
  margin-bottom: 1.45em;
  margin-left: 42px;
  line-height: 1em;
}

.display {
  transform: translateX(-20px);
  opacity: 0;
  transition: .4s;
}

.active .display {
  transform: translateX(0px);
  opacity: 1;
}

.link {
  text-transform: uppercase;
  color: $dark-gray;
}

.link + .link {
  margin-left: 1.2em;
}
