/**
 *
 * Mailing Style
 *
**/

@import '~style/_variables.scss';
@import '../../_variables.scss';

$icon-width: 24px;

.container {
  background-color: $dirty-white;
  padding-top: 12px;
  padding-bottom: 12px;
}

.display {
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  align-items: center;
  width: $active-menu-width;
}

.title-display {
  position: relative;
  z-index: 2;
  flex-basis: 80px;
  text-align: center;
  height: $icon-width + 2;
  background-color: $dirty-white;
}

.title {
  display: inline;
  width: $icon-width;
  height: auto;
  transform: rotate(-90deg);
  fill: $dark-gray;
  opacity: .5;
  font-weight: normal;
  vertical-align: middle;
}

.method {
  cursor: pointer;
  color: $black-tint;
  font-size: 16px;
}

.method + .method {
  margin-left: 1em;
}
