/**
 *
 * Claim Tokens Card Style
 *
**/

@import "~style/_variables.scss";
@import "../../style/_variables.scss";

.container {
  padding-left: 4vw;
  padding-right: 4vw;
}

.card {
  padding: 6.5vw 5vw;
  max-width: 900px;
  background-color: $white;
  margin-left: auto;
  margin-right: auto;
}


@media screen and
(min-width: $bp-mobile-large) {
  .container {
    padding-left: 8vw;
    padding-right: 8vw;
  }
}

@media screen and
(min-width: $bp-monitor-small) {
  .card {
    padding: 82px 72px;
  }
}
