/**
 *
 * Article List Page Style
 *
**/

@import '~style/_variables.scss';
@import '~style/grid/_variables.scss';

.container {
  font-size: .9em;
}

.title {
  height: .82em;
  overflow: hidden;
  color: $silver;
  text-transform: uppercase;
  text-align: center;
  font-size: $hs-mobile;
  letter-spacing: .02em;
  margin-top: -.17em;
  line-height: 1em;
}

.list-article-display {
  padding-top: 4vw;
}

.item {
  padding-bottom: 8vw;
  padding-top: 8vw;
  padding-left: $mobile-gutter-width;
  padding-right: $mobile-gutter-width;
}

.item + .item {
  border-top: 1px solid $dirty-white;
}

@media screen and
(min-width: $bp-tablet-small) {
  .title {
    font-size: $hs;
  }

  .list-article-container {
    padding-left: $tablet-gutter-width;
    padding-right: $tablet-gutter-width;
  }

  .list-article-display {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  .item {
    padding: 0px;
    margin-left: $spacer-width;
    margin-bottom: $spacer-width;
    width: grid-width(1, 2);
  }

  .item + .item {
    border-top: 0;
  }

  .item:nth-child(2n - 1) {
    margin-left: 0;
  }
}

@media screen and
(min-width: $bp-tablet) {
  .item {
    width: grid-width(1, 3);
  }

  .item:nth-child(2n - 1) {
    margin-left: $spacer-width;
  }

  .item:nth-child(3n - 2) {
    margin-left: 0;
  }
}

@media screen and
(min-width: $bp-monitor-small) {
  .title {
    font-size: 10vw;
  }

  .list-article-container {
    padding-left: $monitor-gutter-width;
    padding-right: $monitor-gutter-width;
  }

}
