/**
 *
 * Social Style
 *
**/

@import '~style/_variables.scss';
@import '../../_variables.scss';

.container {
  background-color: $white-shade;
  padding-top: 24px;
  padding-bottom: 24px;
}

.display {
  overflow: hidden;
}

.wrapper {
  width: $active-menu-width;
  display: flex;
  align-items: center;
}

.title-display {
  position: relative;
  z-index: 2;
  writing-mode: tb;
  flex-basis: 80px;
  display: flex;
  align-items: center;
  background-color: $white-shade;
}

.title {
  font-size: 16px;
  transform: rotate(180deg);
  color: $dark-gray;
  opacity: .5;
  font-weight: normal;
}

.content {
  flex-grow: 1;
}

.social-icons {
  display: flex;
  width: 96px;
  height: 96px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.icon-background {
  background-color: $silver;
  margin-bottom: 12px;
}

.icon {
  display: block;
  width: 42px;
  height: 42px;
  fill: $white-shade;
}

.telegram-display {
  position: relative;
  width: 124px;
  height: 124px;
  margin-left: 24px;
  cursor: pointer;
}

.telegraph-graphic {
  width: 100%;
  height: 100%;
  animation-duration: 2.6s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.7,.3,.3,.7);
}

.telegram-title-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  font-size: 14px;
  color: $blue;
}

@keyframes rotate {
  from {
    transform: rotate(12deg);
  }

  to {
    transform: rotate(372deg);
  }
}
