/**
 *
 * Team Page Style
 *
**/

@import "~style/_variables.scss";

.container {

}

.team-title,
.founders-title {
  font-size: $hs-mobile;
  letter-spacing: .02em;
  text-transform: uppercase;
  text-align: center;
}

.team-title {
  margin-top: 1em;
  color: $gold;
  line-height: 1em;
  margin-bottom: -0.5em;
}

.founders-title {
  color: $silver;
  line-height: .65em;
  overflow: hidden;
}

.quote-container {
  padding: 4vw 4vw 3vw;
}

.environment-quote {
  display: block;
  margin:  auto;
  max-width: 700px;
}

@media screen and
(min-width: $bp-tablet-small) {
  .team-title,
  .founders-title {
    font-size: $hs;
  }

  .quote-container {
    padding-top: 32px;
    margin-bottom: 24px;
  }
}


@media screen and
(min-width: natural-bp($hs, $hs-max)) {
  .team-title,
  .founders-title {
    font-size: $hs-max;
  }
}
