/**
 *
 * Technology Page Style
 *
**/

@import "~style/_variables.scss";
@import "./_variables.scss";

.technology-section {
  background-image: url('assets/textures/mountains.png');
  background-size: cover;
  background-position: top center;
  padding-bottom: $first-section-below-fold;
  color: #D8DEEF;
}

.above-the-fold {
  min-height: 100vh;
  padding-bottom: $second-section-above-fold;
}

.technology-title {
  font-size: $hs-mobile;
  letter-spacing: .02em;
  padding-top: 52px;
  text-transform: uppercase;
  text-align: center;
}

@media screen and
(min-width: $bp-tablet-small) {
  .technology-title {
    padding-top: 0px;
    line-height: .71em;
    font-size: $hs;
    margin-bottom: 6vw;
  }
}

@media screen and
(min-width: $bp-tablet-small) {
  .technology-section {
    padding-bottom: $first-section-below-fold-tablet;
  }

  .above-the-fold {
    padding-bottom: $second-section-above-fold-tablet;
  }
}

@media screen and
(min-width: natural-bp($hs, $hs-max)) {
  .technology-title {
    font-size: $hs-max;
  }
}
