/**
 *
 * Top Founder Display Style
 *
**/

@import '~style/_variables.scss';

.container {
  display: flex;
  margin: auto;
  max-width: 720px;
}

@mixin display() {
  width: 50%;
  position: relative;
}

.first-display {
  @include display();
}

.second-display {
  text-align: right;
  @include display();
}

@mixin image-wrapper() {
  width: 100%;
}

.first-image-wrapper {
  @include image-wrapper();
  padding-right: 4px;
}

.second-image-wrapper {
  @include image-wrapper();
  padding-left: 4px;
}

.first-image,
.second-image {
  width: 100%;
  display: block;
}

$title-size-mobile: 11.8vw;

@mixin info() {
  display: inline-block;
  position: relative;
  z-index: 2;
  background-color: $white;
  min-height: $title-size-mobile * 1.8;
}

.first-info {
  @include info();
  padding-left: $title-size-mobile;
}

.second-info {
  @include info();
  direction: rtl;
  padding-right: $title-size-mobile;
}


@mixin title() {
  position: absolute;
  top: 0;
  line-height: 1em;
  color: $gold;
  writing-mode: vertical-lr;
  font-size: $title-size-mobile;
  padding-left: .03em;
  padding-right: .05em;
  display: inline-block;
}

.first-title {
  left: -1px;
  transform: rotate(180deg);
  padding-bottom: .11em;
  @include title();
}

.second-title {
  right: -1px;
  padding-top: .11em;
  @include title();
}


@mixin name() {
  font-size: $h4-mobile;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: .01em;
  display: inline-block;
  padding-top: .14em;
  vertical-align: top;
}

.first-name {
  @include name();
  padding-right: .22em;
}

.second-name {
  @include name();
  text-align: right;
  padding-left: .22em;
}

@media screen and
(min-width: $bp-mobile) {

  .first-display,
  .second-display {
    font-size: $h4-mobile;
    padding-bottom: 2em;
  }

  @mixin info() {
    position: absolute;
    font-size: inherit;
    background-color: white;
    bottom: 0;
  }

  .first-info {
    @include info();
  }

  .second-info {
    @include info();
    right: 0;
  }

  .first-title,
  .second-title {
    margin-top: 0px;
    background: transparent;
    padding-left: 0px;
  }

}

@media screen and
(min-width: $bp-mobile-large) {
  $title-size: $title-size-mobile / 100vw * $bp-mobile-large;


  .first-display,
  .second-display {
    font-size: $h4-mobile / 100vw * $bp-mobile-large;
  }

  @mixin info() {
    min-height: $title-size * 1.8
  }

  .first-info {
    @include info()
    padding-left: $title-size;
  }

  .second-info {
    @include info()
    padding-right: $title-size;
  }

  .first-name,
  .second-name {
    font-size: inherit;
  }


  .first-title,
  .second-title {
    font-size: $title-size;
  }
}

@media screen and
(min-width: $bp-tablet) {
  @mixin title() {
    padding-right: 0px;
  }

  .first-title {
    margin-left: -0.12em;
    @include title();
  }

  .second-title {
    margin-right: -0.12em;
    @include title();
  }
}
