/*
 *
 * Menu Variables
 *
 */

$latent-menu-width: 80px;
$active-menu-width: 350px;
$border-width: 2px;

$active-logo-width: 100px;
$latent-logo-width: 40px;

$active-logo-margin-left: 40px;
$latent-logo-margin-left: 20px;

$bp-tall: 700px;
